* {
    box-sizing: border-box;
}

.header-menu {
    text-align: center;
    margin: 32px 0;
}

.header-menu-item {
    display: inline;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-left: 72px;
}

.header-menu-item-href {
    text-decoration: none;
}

.img-laptop {
    display: block;
    width: 100vw;
}

.main-text {
    width: 60%;
    margin: auto;
}

.title {
    margin-top: 88px;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.body-text {
    margin-top: 40px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}

.body-text-blue {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.main-item {
    margin-top: 24px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    margin-bottom: 40px;
}

.main-item-text {
    list-style: outside decimal;
}

.button {
    text-decoration: none;
    background-color: #04959E;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    width: 145px;
    height: 44px;
    padding: 10px 24px;
    display: block;
    margin: 10px auto 98px;
}

.line {
    margin-top: 88px;
    border: 1px solid #161616;
}

.footer-text {
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin: 16px 0;
}